@using MvcPL.HtmlHelpers
@model MvcPL.Models.Lists.CommentsListViewModel

@{
    Layout = null;
    ViewBag.LikeUrl = Request.RawUrl;
}

<h3>Comments</h3>
@if (User.Identity.IsAuthenticated)
{
    <form method="post" id="commentForm" action="@Url.Action("AddComment")">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.TextArea("Content", new {rows = 5, @class = "area-fullwidth"})
        </div>
        @Html.Hidden("ArticleId", Model.ArticleId)
        <button type="submit" class="btn btn-success">Add comment</button>
        <br/>
        <br/>
    </form>
}
<div id="comments" class="row">
    @foreach (var comment in Model.Comments)
    {
        Html.RenderPartial("_CommentPartial", comment);
    }
</div>
<div>
    @Html.ActionLink("More comments", "Details", "Articles", new
    {
        id = Model.ArticleId,
        commentPackNumber = Model.CommentPackNumber + 1,
    }, new {@class="btn btn-warning"})
</div>

