@using MvcPL.HtmlHelpers
@model MvcPL.Models.Entities.ArticleViewModel
    
<div>
    <hr/>
    <h2>@Html.ActionLink(Model.Name, "Details", "Articles"
            , new {id = Model.Id}, new {@class = "nodecor"})</h2>
    <h5><span class="glyphicon glyphicon-time"></span>Created by
        @Html.ActionLink(Model.UserName, "Index", "Articles", new RouteValueDictionary
        {
            {"userId", Model.UserId}
        }, null), @Model.DateAdded</h5>
    <h5>@foreach (var tag in Model.Tags)
        {
            <span class="label label-warning">@Html.ActionLink(tag, "Index", "Articles",
                                             new { tag }, new {@class = "nodecor link-white"})</span>
        }</h5>
    <p class="text-break">@Model.Content</p>
    <div>@Html.GlyphLink("glyphicon glyphicon-star-empty", Model.Rating.ToString(),
             () => Url.Action("Like", "Articles", new {articleId = Model.Id,
                 likeUrl = (string)ViewBag.LikeUrl}))
        @Html.GlyphLink("glyphicon glyphicon-pencil", "",
            () => Url.Action("Edit", "Articles", new {id = Model.Id}))
        @Html.GlyphLink("glyphicon glyphicon-trash", "",
            () => Url.Action("Delete", "Articles", new {id = Model.Id}))
    </div>
</div>