@using MvcPL.HtmlHelpers
@model MvcPL.Models.Entities.BlogViewModel

<hr>
<h2>@Html.ActionLink(Model.Name, "Index", "Articles", new { blogId = Model.Id }, new { @class = "nodecor"}) </h2>
<h5><span class="glyphicon glyphicon-time"></span> 
    Started by @Html.ActionLink(Model.UserName, "Index", "Blogs", new
               {
                   userId = Model.UserId
               }, null), @Model.DateStarted.</h5>
<div>
    @Html.GlyphLink("glyphicon glyphicon-star-empty", Model.Rating.ToString(), 
            ()=>Url.Action("Like", "Blogs", 
                new {blogId = Model.Id, userId = (int?)ViewBag.UserId, page = ((int?)ViewBag.Page) ?? 1}))
    @Html.GlyphLink("glyphicon glyphicon-pencil", "",
            () => Url.Action("Edit", "Blogs", new { id = Model.Id }))
    @Html.GlyphLink("glyphicon glyphicon-trash", "",
            () => Url.Action("Delete", "Blogs", new { id = Model.Id }))
</div>
<br><br>
