<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    /* Set gray background color and 100% height */
    .sidenav {
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;
          margin-top: auto;
      }
    }

    /*action links style*/
    .nodecor:hover {
        text-decoration: none;
    }

    a.link-white:link{color:#FFFFFF}
    a.link-white:visited{color:#FFFFFF}
    a.link-white:hover{color:#708090}

    body.gray {
        background-color: #F7F3F3;
    }

    .area-fullwidth {
        min-width: 100%;
    }

    .text-break {
        word-wrap: break-word;
    }
    </style>
</head>
<body class="gray">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bloghost", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Popular", "Index", "Home")</li>
                    <li>@Html.ActionLink("Blogs", "Index", "Blogs")</li>
                    <li>@Html.ActionLink("Articles", "Index", "Articles")</li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                @Html.Action("Menu", "Nav")
                @*@RenderSection("LeftPanel", false)*@
            </div>
            <div class="col-sm-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="container-fluid">
        <p>&copy; @DateTime.Now.Year – Created by Shilo Denis</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>