@using MvcPL.HtmlHelpers
@model MvcPL.Models.Lists.ArticlesListViewModel

@{
    ViewBag.Title = "Articles";
}

<h1>@ViewBag.Title</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Articles"))
{
    @Html.Editor("tag", new { type = "text" })
    <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Search by tag" class="btn btn-default" />
    </div>
</div>
}
@using (Html.BeginForm("Index", "Articles"))
{
    @Html.Editor("text", new { type = "text" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search articles" class="btn btn-default" />
        </div>
    </div>
}
<ul class="list-unstyled">
    @foreach (var article in Model.Articles)
    {
        <li>
            @{Html.RenderPartial("_ArticlePartial", article);}
        </li>
    }
</ul>
<div>
    @Html.PagingLinks(Model.PagingInfo, p => Url.Action("Index", new { page = p }))
</div>